<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>two_factor_auth_server_path</key>
	<string>http://twofactorauth.chatcatapp.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb140970106519434</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>co.deluge.Chat-SDK</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1088435112418-11bedtu385j8r22bm2t92crdk7c2pc1j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-g9zd9WuWVXW1Rr2p8GRuqVidQ</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>FacebookAppID</key>
	<string>140970106519434</string>
	<key>NSContactsUsageDescription</key>
	<string>ChatSDK would like to check if any of your contacts use this app</string>
	<key>NSLocationUsageDescription</key>
	<string>To send location messages</string>
	<key>NSCameraUsageDescription</key>
	<string>The camera is needed to scan QR codes</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This App wants to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone will be used to record your speech when you press the &quot;Start Recording&quot; button.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your photo library is needed to choose a photo</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device&apos;s microphone.</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>chat_sdk</key>
	<dict>
		<key>backendless</key>
		<dict>
			<key>app_id</key>
			<string>AE35C50E-1AAB-2504-FF20-954F03262700</string>
			<key>app_version</key>
			<string>v1</string>
			<key>app_secret</key>
			<string>A6A59449-5B5A-8F18-FF83-4822E4492A00</string>
		</dict>
		<key>firebase</key>
		<dict>
			<key>root_path</key>
			<string>chat_sdk_web</string>
			<key>storage_path</key>
			<string>gs://chat-features.firebaseio.com/
https://chat-features.firebaseio.com/
https://chat-features.firebaseio.com/</string>
			<key>cloud_messaging_server_key</key>
			<string>AAAA_WvJyeI:APA91bFIDYoxnbFTub61SKCh8-RZrElzdkZpzyV3paGFlRWonMzq33zQmQW3ub5hDXLuRaipwtoHSoDKXkZlN5DRb_EYdrxtaDptmvZKCYBPKI-4RqTK9wVLOJvgc5X3bVWLfpNSJO_tLK2pnmhfpHDw2Zs-5L2yug</string>
		</dict>
		<key>google</key>
		<dict>
			<key>client_key</key>
			<string>1088435112418-11bedtu385j8r22bm2t92crdk7c2pc1j.apps.googleusercontent.com</string>
			<key>api_key</key>
			<string>test</string>
		</dict>
		<key>parse</key>
		<dict>
			<key>app_id</key>
			<string></string>
			<key>client_key</key>
			<string></string>
		</dict>
		<key>twitter</key>
		<dict>
			<key>secret</key>
			<string>TeLkbrDKTonrr8z2YHyqSxZxqxnZ0h4cweIZLLp6T8oPofto3c</string>
			<key>api_key</key>
			<string>g9zd9WuWVXW1Rr2p8GRuqVidQ</string>
		</dict>
		<key>anonymous</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>facebook</key>
		<dict>
			<key>app_id</key>
			<string>140970106519434</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>user_chat_info_enabled</key>
			<true/>
			<key>app_badge_enabled</key>
			<true/>
		</dict>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
