/build
google-services.json
/src/main/res/mipmap-hdpi/ic_launcher_APP.png
/src/main/res/mipmap-mhdpi/ic_launcher_APP.png
/src/main/res/mipmap-xhdpi/ic_launcher_APP.png
/src/main/res/mipmap-xxhdpi/ic_launcher_APP.png
/src/main/res/mipmap-xxxhdpi/ic_launcher_APP.png
